
body {
    margin: 0%;
}
div{
    /**border:1px solid black;  */ 
}


.outer_div{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}


.div_header{
    width: 100%;
    height: 200px;
    
    /*background-color: #6dabaa;*/
}

.left_section{
    float: left;
    width: 20%;
    height: 800px;
    /*background-color: #052423;*/
}

.right_section{
    
    width: 80%;
    height: 800px;
    margin-left: 20%;
    
    

}

.right_horizontal{
    
    margin: 20px;
    width: 97%;
    height: 400px;
    display: flex;

}

.div_footer{
    width: 100%;
    height: 200px;  
    /*background-color: #052423;*/
}

.subtitle{
        text-align: center;
}
.menu{
    float: right;
    margin-left: 10px;
    margin-right: 10px;
}

table, th, td {
    width: 50%;
    border: 1px solid black;
    background-color: white;
    margin: auto;
    text-align: center;
  } 

  .product_thump{

    background-color: #c8dbdb;  
    /*background-color: #1877F2;*/
    flex: 1; /* Distribute available space equally */
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.center{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
